<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Todo App</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='main.css')}}">

</head>

<body class="main_body">
	<div class="main_div">
		<h1>What do we do today ?</h1>
		<header>
			<h2>Add a new todo item:</h2>
			<form action="{{ url_for('add') }}" method="POST">
				<input type="text" name="todoitem" placeholder="Write your task">
				<input type="submit" value="Add" class="button">
			</form>
		</header>
	</div>
	<main class="main_main">
		<div class="main_section">
			<h2>To do</h2>
			<div>
				{% for todo in incomplete %}
				<p class="main_task">{{ todo[1] }} <a class="main_done" href="{{ url_for('complete', id=todo[0]) }}">Marquer comme complet</a></p>
				{% endfor %}
			</div>
		</div>
		<div class="main_section">
			<h2>Done</h2>
			<div>
				{% for todo in complete %}
				<p class="main_task">{{ todo[2] }}</p>
				{% endfor %}
			</div>
		</div>
	</main>
</body>
</html>